CMS signer identifier is incorrectly encoded

We have the following code for serializing and deserializing the `subjectKeyIdentifier` option in `CMSSignerIdentifier`:

https://github.com/apple/swift-certificates/blob/d8799da503be1dd95cb9128478b5c3b22451a4b2/Sources/X509/CryptographicMessageSyntax/CMSSignerIdentifier.swift#L58-L62

https://github.com/apple/swift-certificates/blob/d8799da503be1dd95cb9128478b5c3b22451a4b2/Sources/X509/CryptographicMessageSyntax/CMSSignerIdentifier.swift#L39-L45

Both of these perform explicit tagging of the field. That's informed by [this declaration from RFC 5652 § 12.1](https://datatracker.ietf.org/doc/html/rfc5652#section-12.1):

```
SignerIdentifier ::= CHOICE {
  issuerAndSerialNumber IssuerAndSerialNumber,
  subjectKeyIdentifier [0] SubjectKeyIdentifier }
```

However, this misses that the tags default for the document is specified as:

```
   DEFINITIONS IMPLICIT TAGS ::=
```

So the default tag is implicit unless one of the exceptions from [ITU 680 § 30.6](https://www.itu.int/ITU-T/studygroups/com17/languages/X.680-0207.pdf) applies. None of them do, so this should be implicitly tagged.